<h1>First Test</h1>

<%= form_tag first_path do %>
  <%= label_tag 'from_city', 'From' %>
  <%= select_tag 'from_city', options_for_select(@from_cities, 'Moscow'),
    include_blank: 'Ğ’ÑĞµ', disabled: false %>

  <%= label_tag 'to_country', 'To' %>
  <%= select_tag 'to_country', options_for_select(@to_countries) %>
  <%= submit_tag 'Show' %>
<% end %>