<!DOCTYPE html>
<html>
<head>
  <title>For Level-Travel by S. Pisarev</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="ui page grid">
    <div class="row">
      <nav class="ui large pointing menu">
        <div class="header item">
          <a href="https://github.com/cema-sp">S.A.Pisarev</a>
        </div>
        <%= link_to 'Информация', root_path,
          class: menu_item_class(root_path) %>
        <%= link_to 'Первое задание', first_path,
          class: menu_item_class(first_path) %>
        <%= link_to 'Второе задание', second_path,
          class: menu_item_class(second_path) %>
      </nav>
    </div>

    <!-- <div class="ui two column centered grid"> -->
<div class="row">
<div class="ui centered grid">
  <div class="twelve wide column">
  
    <%= yield %>
  
  </div>
</div>
</div>
    <!-- </div> -->

  </div>

</body>
</html>
